body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #061E29;
}
.main_div{
    display: flex;
    gap: 10px;
    background: #0F2854;
    padding:10px 20px ;
    border-radius: 15px;
}
.main_div h1{
    font-size: 30px;
    font-weight: 800;
    color: #B0FFFA;
}
.second{
    background: red;
        padding: 5px 10px;
                border-radius: 9px;
           
}
.third{
    background: green;
        border-radius: 9px;
            padding: 5px 10px;
}
.first{
    background: aqua;
    padding: 5px 10px;
    border-radius: 9px;
    color: black !important;
}