body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #061E29;
}
.main_div{
    display: flex;
    gap: 10px;
    background: #0F2854;
    padding:10px 20px ;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.main_div h1{
    font-size: 30px;
    font-weight: 800;
    color: #B0FFFA;
}
.second{
    background: red;
        padding: 5px 10px;
                border-radius: 9px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
           
}
.third{
    background: green;
        border-radius: 9px;
            padding: 5px 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.first{
    background: aqua;
    padding: 5px 10px;
    border-radius: 9px;
    color: black !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}